/* https://www.materialpalette.com/green/cyan */
/* http://codepen.io/lizcoultersmith/ */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	line-height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	color: #212121;
}

.header {
	text-align: left;
	font-size: 50px;
	order: -1;
	background: #4CAF50;
}

.bar {
	background-color: #00BCD4;
	border: 1px solid #BDBDBD;
}
.bar ul {
	margin: 0;
	padding: 0;
}
.bar li {
	display: flex;
	flex-direction: row-reverse;
	background-color: #00BCD4;
}
.bar li a {
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #212121;
	border-right: 1px solid #BDBDBD; 
}
.bar li a:hover {
	color: #FFFFFF;
	background-color: #4CAF50; 
}

.footer li {
	display: flex;
	flex-direction: column-reverse;
	float: right;
}

.footer {
	padding: 1em;
	background: #00BCD4;
}
.footer img {
	padding-left: 0.5em;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.main {
	padding: 1em;
	background: #C8E6C9;
	text-align: left;
}

.aside {
	border-left: 2px solid #BDBDBD;
	padding: 1em;
	background: #C8E6C9;
}

.large {
	font-size: 1.5em;
	line-height: 115%;
}
.huge {
	font-size: 3em;
}
.center {
	text-align: center;
}

.title {
	text-align: center;
	padding: 0.75em 0.25em 0.75em 0.25em;
}

/* https://www.abeautifulsite.net/how-to-make-rounded-images-with-css */
.img-circle {
	border-radius: 50%;
	float: left;
}

/* when the screen gets small */
@media (max-width: 30em) {
	.main {
		flex: 1 0 auto;
	}
	.bar li {
		flex-direction: column;
		border-bottom: 1px solid #BDBDBD;
	}
	.img-circle {
		display: none;
	}
	.aside {
		border-top: 2px solid #BDBDBD;
		border-left: 0;
	}
}

/* when the screen gets big */
@media (min-width: 30em) {
	.header {
		display: block;
	}
	.wrapper {
		flex-direction: row;
	}
	.main {
		flex: 1 1 auto;
	}
	.bar li {
		float: left;
	}
}